ramls/patron.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="money">
  <xs:sequence>
    <xs:element name="amount" type="xs:float" minOccurs="1" maxOccurs="1"/>
    <xs:element name="isoCurrencyCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
  </xs:sequence>
</xs:complexType>

<xs:simpleType name="requiredString">
 <xs:restriction base="xs:string">
   <xs:minLength value="1"/>
 </xs:restriction>
</xs:simpleType>

<xs:element name="currency" type="money"/>

<xs:element name="item">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="title" type="requiredString" minOccurs="1" maxOccurs="1"/>
      <xs:element name="author" type="requiredString" minOccurs="1" maxOccurs="1"/>
      <xs:element name="instanceId" type="requiredString" minOccurs="1" maxOccurs="1"/>
      <xs:element name="itemId" type="requiredString" minOccurs="1" maxOccurs="1"/>
      <xs:element name="isbn" type="requiredString" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="hold">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="requestId" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="item" minOccurs="0" maxOccurs="1"/>
      <xs:element name="requestDate" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="expirationDate" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="pickupLocationId" type="requiredString" minOccurs="1" maxOccurs="1"/>
      <xs:element name="status" minOccurs="0" maxOccurs="1">
        <xs:simpleType final="restriction" >
          <xs:restriction base="xs:string">
            <xs:enumeration value="Open - Not yet filled" />
            <xs:enumeration value="Open - Awaiting pickup" />
            <xs:enumeration value="Open - In transit" />
            <xs:enumeration value="Closed - Filled" />
            <xs:enumeration value="Closed - Cancelled" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="queuePosition" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="canceledDate" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="canceledByUserId" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="cancellationReasonId" type="requiredString" minOccurs="0" maxOccurs="1"/>
      <xs:element name="cancellationAdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="patronComments" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

  <xs:element name="batch">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="batchRequestId" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="status" minOccurs="0" maxOccurs="1">
          <xs:simpleType final="restriction" >
            <xs:restriction base="xs:string">
              <xs:enumeration value="In progress" />
              <xs:enumeration value="Completed" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="submittedAt" type="requiredString" minOccurs="1" maxOccurs="1"/>
        <xs:element name="completedAt" type="requiredString" minOccurs="0" maxOccurs="1"/>
        <xs:element name="itemsTotal" type="xs:integer" minOccurs="1" maxOccurs="1"/>
        <xs:element name="itemsRequested" type="xs:integer" minOccurs="0" maxOccurs="1"/>
        <xs:element name="itemsPending" type="xs:integer" minOccurs="0" maxOccurs="1"/>
        <xs:element name="itemsFailed" type="xs:integer" minOccurs="0" maxOccurs="1"/>

        <xs:element name="itemsPendingDetails" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="itemsPendingDetail" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="itemsFailedDetails" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="itemsFailedDetail" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="itemsRequestedDetails" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="itemsRequestedDetail" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="itemsPendingDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="instanceId" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="itemId" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="pickUpLocationId" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="itemsFailedDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="instanceId" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="itemId" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="pickUpLocationId" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="errorCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="errorDetails" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="itemsRequestedDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="instanceId" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="itemId" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="pickUpLocationId" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="confirmedRequestId" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="holdCancellation">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="holdId" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="canceledByUserId" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="cancellationReasonId" type="requiredString" minOccurs="1" maxOccurs="1"/>
      <xs:element name="cancellationAdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="canceledDate" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="charge">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="item" minOccurs="1" maxOccurs="1"/>
      <xs:element name="chargeAmount" type="money" minOccurs="1" maxOccurs="1"/>
      <xs:element name="accrualDate" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="reason" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="feeFineId" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="loan">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="item" minOccurs="1" maxOccurs="1"/>
      <xs:element name="loanDate" type="requiredString" minOccurs="1" maxOccurs="1"/>
      <xs:element name="dueDate" type="requiredString" minOccurs="1" maxOccurs="1"/>
      <xs:element name="overdue" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="account">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="id" type="requiredString" minOccurs="1" maxOccurs="1"/>
      <xs:element name="totalCharges" type="money" minOccurs="1" maxOccurs="1"/>
      <xs:element name="totalChargesCount" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="totalLoans" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="totalHolds" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="charges" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="charge" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="holds" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="hold" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="batches" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="batch" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="loans" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="loan" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
